<!DOCTYPE html>
<html>
<head>
  <title>Television Shows</title>
  <link rel="stylesheet" type="text/css" href="<%="style.css"%>"/>
</head>

<body>
  <h1>Add Show Details</h1>
  <form action="/television_shows/new" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="network">Network:</label>
    <input type="text" id="network" name="network" required>

    <label for="starting_year">Starting Year:</label>
    <input type="text" id="starting_year" name="starting_year"required>

    <label for="synopsis">Synopsis:</label>
    <input type="text" id="synopsis" name="synopsis"required>

    <label for="genre">Genre:</label>
    <select name="Genre">
    <%TelevisionShow::GENRES.each do |genre|%>
      <option value="<%=genre%>"> <%=genre.capitalize%></option>
      <%end%>
    </select>

    <input type="submit" value="Add TV Show">
  </form>

  <%if @not_filled%>
    Please fill in all required fields
    <%end%>

<%if @boolean%>
  This show is already in the database
  <%end%>
</body>
</html>
